In [8]:
#Importazioni Librerie
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Preview

In [9]:
#Importazione Dataset
file_path = "AreaC_Acces.csv"
df = pd.read_csv(file_path)

In [10]:
# Visualizzazione delle prime righe del dataset
df.head()

,_id,data_giorno,giorno,totale_transiti_giornalieri_h24,totale_transiti_giornalieri_7.30_19.30_autoveicoli,totale_transiti_giornalieri_7.30_19.30_ciclomotori_motocicli,totale_transiti_giornalieri_00.00_7.29_autoveicoli,totale_transiti_giornalieri_00.00_7.29_ciclomotori_motocicli,totale_transiti_giornalieri_19.30_23.59_autoveicoli,totale_transiti_giornalieri_19.30_23.59_ciclomotori_motocicli
0,1,2024-05-31T00:00:00,venerdì,146673,81679,19980,15251,1053,25677,3033
1,2,2024-05-30T00:00:00,giovedì,145193,81823,23816,14164,1180,21954,2256
2,3,2024-05-29T00:00:00,mercoledì,149124,81150,27747,13758,1335,21261,3873
3,4,2024-05-28T00:00:00,martedì,144932,79639,27034,12636,1261,20625,3737
4,5,2024-05-27T00:00:00,lunedì,133736,75512,23498,13425,1179,18351,1771

In [11]:
#Shape del dataset
print(f"Il dataset ha una dimensione {df.shape}\n")

Il dataset ha una dimensione (183, 10)