In [28]:
#Importazioni Librerie
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Preview

In [29]:
#Importazione Dataset
file_path = "AreaC_Acces.csv"
df = pd.read_csv(file_path)

In [30]:
# Visualizzazione delle prime righe del dataset
df.head()

,_id,data_giorno,giorno,totale_transiti_giornalieri_h24,totale_transiti_giornalieri_7.30_19.30_autoveicoli,totale_transiti_giornalieri_7.30_19.30_ciclomotori_motocicli,totale_transiti_giornalieri_00.00_7.29_autoveicoli,totale_transiti_giornalieri_00.00_7.29_ciclomotori_motocicli,totale_transiti_giornalieri_19.30_23.59_autoveicoli,totale_transiti_giornalieri_19.30_23.59_ciclomotori_motocicli
0,1,2024-05-31T00:00:00,venerdì,146673,81679,19980,15251,1053,25677,3033
1,2,2024-05-30T00:00:00,giovedì,145193,81823,23816,14164,1180,21954,2256
2,3,2024-05-29T00:00:00,mercoledì,149124,81150,27747,13758,1335,21261,3873
3,4,2024-05-28T00:00:00,martedì,144932,79639,27034,12636,1261,20625,3737
4,5,2024-05-27T00:00:00,lunedì,133736,75512,23498,13425,1179,18351,1771

In [31]:
#Shape del dataset
print(f"Il dataset ha una dimensione {df.shape}\n")

Il dataset ha una dimensione (183, 10)

In [32]:
#Column  Non-Null Count  Dtype 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183 entries, 0 to 182
Data columns (total 10 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   _id                                                            183 non-null    int64
 1   data_giorno                                                    183 non-null    object
 2   giorno                                                         183 non-null    object
 3   totale_transiti_giornalieri_h24                                183 non-null    int64
 4   totale_transiti_giornalieri_7.30_19.30_autoveicoli             183 non-null    int64
 5   totale_transiti_giornalieri_7.30_19.30_ciclomotori_motocicli   183 non-null    int64
 6   totale_transiti_giornalieri_00.00_7.29_autoveicoli             183 non-null    int64
 7   totale_transiti_giornalieri_00.00_7.29_ciclomotori_motocicli   183 non-null    int64
 8   totale_transiti_giornalieri_19.30_23.59_autoveicoli            183 non-null    int64
 9   totale_transiti_giornalieri_19.30_23.59_ciclomotori_motocicli  183 non-null    int64
dtypes: int64(8), object(2)
memory usage: 14.4+ KB

# Data Cleaning

In [33]:
# Rimuovere il campo '_id'
df = df.drop(columns=['_id'])

In [34]:
# Dizionario per rinominare gli headers
new_headers = {
    'data_giorno': 'date',
    'giorno': 'day',
    'totale_transiti_giornalieri_h24': 'total_24h',
    'totale_transiti_giornalieri_7.30_19.30_autoveicoli': 'total_7.30_19.30_cars',
    'totale_transiti_giornalieri_7.30_19.30_ciclomotori_motocicli': 'total_7.30_19.30_bikes',
    'totale_transiti_giornalieri_00.00_7.29_autoveicoli': 'total_00.00_7.29_cars',
    'totale_transiti_giornalieri_00.00_7.29_ciclomotori_motocicli': 'total_00.00_7.29_bikes',
    'totale_transiti_giornalieri_19.30_23.59_autoveicoli': 'total_19.30_23.59_cars',
    'totale_transiti_giornalieri_19.30_23.59_ciclomotori_motocicli': 'total_19.30_23.59_bikes'
}

# Rinominare gli headers del DataFrame
df.rename(columns=new_headers, inplace=True)

In [35]:
# Convertire la colonna 'date' in formato solo data
df['date'] = pd.to_datetime(df['date']).dt.date

In [36]:
df.head()

,date,day,total_24h,total_7.30_19.30_cars,total_7.30_19.30_bikes,total_00.00_7.29_cars,total_00.00_7.29_bikes,total_19.30_23.59_cars,total_19.30_23.59_bikes
0,2024-05-31,venerdì,146673,81679,19980,15251,1053,25677,3033
1,2024-05-30,giovedì,145193,81823,23816,14164,1180,21954,2256
2,2024-05-29,mercoledì,149124,81150,27747,13758,1335,21261,3873
3,2024-05-28,martedì,144932,79639,27034,12636,1261,20625,3737
4,2024-05-27,lunedì,133736,75512,23498,13425,1179,18351,1771

In [45]:
# Funzione per determinare se una data è un giorno del weekend
def is_weekend(date):
        if date.weekday() >= 5:  # 5 = sabato, 6 = domenica
            return 1
        else:
            return 0

# Applica la funzione alla colonna 'date'
df['weekend'] = df['date'].apply(is_weekend)

In [48]:
# Controllo la grandezza del dataset
df.shape

(183, 10)

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183 entries, 0 to 182
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     183 non-null    object
 1   day                      183 non-null    object
 2   total_24h                183 non-null    int64
 3   total_7.30_19.30_cars    183 non-null    int64
 4   total_7.30_19.30_bikes   183 non-null    int64
 5   total_00.00_7.29_cars    183 non-null    int64
 6   total_00.00_7.29_bikes   183 non-null    int64
 7   total_19.30_23.59_cars   183 non-null    int64
 8   total_19.30_23.59_bikes  183 non-null    int64
 9   weekend                  183 non-null    int64
dtypes: int64(8), object(2)
memory usage: 14.4+ KB